cycler==0.11.0
platformdirs==4.3.3
threadpoolctl==3.5.0
Jinja2==3.1.4
triton==3.0.0
pip==24.2
certifi==2024.8.30
sympy==1.13.2
sentry-sdk==2.14.0
six==1.16.0
fonttools==4.51.0
scipy==1.13.1
kiwisolver==1.4.4
numpy==1.26.4
joblib==1.4.2
contourpy==1.3.0
setuptools==72.1.0
PyQt5-sip==12.13.0
scikit-learn==1.5.1
python-dateutil==2.9.0.post0
unicodedata2==15.1.0
docker-pycreds==0.4.0
pyparsing==3.1.2
sip==6.7.12
tornado==6.4.1
ply==3.11
protobuf==5.28.1
charset-normalizer==3.3.2
GitPython==3.1.43
gitdb==4.0.11
fsspec==2024.6.1
click==8.1.7
psutil==6.0.0
PyQt5==5.15.10
MarkupSafe==2.1.3
pillow==10.4.0
requests==2.32.3
wheel==0.44.0
filelock==3.13.1
networkx==3.2.1
mpmath==1.3.0
smmap==5.0.1
urllib3==2.2.3
idna==3.10
typing_extensions==4.11.0
matplotlib==3.9.2
PyYAML==6.0.2
setproctitle==1.3.3
torch==2.4.0.post301
wandb==0.18.0
packaging==24.1
